[Desktop Entry]
Name=Toggle Exquisite
Comment=Toggle the visibility of the Exquisite window

Icon=preferences-desktop-virtual
Type=System
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=qewer33
X-KDE-PluginInfo-Name=toggle-exquisite
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://www.qewer.dev
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KPackage-Dependencies=kns://kwinscripts.knsrc/api.kde-look.org/1852610
